{% extends 'base.html' %}


{% block title %}Angel Riera Dev Dj-R{% endblock title %}

{% block content %}




{% include 'core/components/header.html' %}
<div class="container flex flex-col mx-auto mb-72 m-2 md:m-auto">

    {% include 'core/components/exp.html' %}
    {% include 'core/components/formation.html' %}
    <div class="mx-36">
        <hr>
    </div>
    {% include 'core/components/projects.html' %}
    <div class="mx-36">
        <hr>
    </div>
    {% include 'core/components/skills.html' %}

</div>
{% include 'core/components/contact.html' %}


{% endblock content %}