{% load static %}
<!-- Footer -->
<footer class="bg-sky-900 flex-grap w-full h-full mt-96  p-0">
    <div class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8">
        <!-- <nav class="flex flex-wrap justify-center -mx-5 -my-2">
            <div class="px-5 py-2">
                <a href="#"
                    class="text-base leading-6 text-gray-400 hover:text-gray-50 hover:bg-sky-800 px-3 py-1 hover:border border-sky-700 rounded">
                    Terms
                </a>
            </div>
            <div class="px-5 py-2">
                <a href="#"
                    class="text-base leading-6 text-gray-400 hover:text-gray-50 hover:bg-sky-800 px-3 py-1 hover:border border-sky-700 rounded">
                    Terms
                </a>
            </div>
        </nav> -->
        <div class="flex justify-center mt-8 space-x-6">
            <!-- twitter -->
            <a href="https://twitter.com/RagnAndRoll" 
            class="text-gray-400 hover:text-gray-200" target="__blank">              
                <img src=" {% static 'images/icons/twitter.svg' %}" 
                class="h-6 w-6 fill-gray-50"
                fill="none" viewBox="0 0 24 24" stroke="currentColor" alt="">                
            </a>
            <!-- twitter -->

            <!-- linkedin -->
            <a href="https://www.linkedin.com/in/angelriera/" 
            class="text-gray-400 hover:text-gray-200" target="__blank">              
                <img src=" {% static 'images/icons/linkedin.svg' %}" 
                class="h-6 w-6 fill-gray-50"
                fill="none" viewBox="0 0 24 24" stroke="currentColor" alt="">                
            </a>
            <!-- linkedin -->

            <!-- gitHub -->
            <a href="https://github.com/RagAndRoll" 
            class="text-gray-400 hover:text-gray-200" target="__blank">              
                <img src=" {% static 'images/icons/github2.svg' %}" 
                class="h-6 w-6 fill-gray-50"
                fill="none" viewBox="0 0 24 24" stroke="currentColor" alt="">                
            </a>
            <!-- gitHub -->


        </div>
        <a href="https://github.com/RagAndRoll" target="__blank">
            <p class="mt-8 text-base leading-6 text-center text-gray-400 underline underline-offset-8">
                ©2022 Ragnarok. All rights reserved.

            </p>
        </a>
    </div>
</footer>
<!-- endFooter -->