<div>
    <div class="min-h-min bg-teal-800 bg-left-top bg-auto bg-repeat-x" 
    style="background-image: url();  height: 300px;">

    </div>

    <div class="sm:-mt-28 -mt-64">

    </div>

    <div class="sm:mx-24 mx-auto grid grid-cols-1 gap-2 sm:grid-cols-2 ">

        <div class="text-center cursor-pointer">
            <div class="p-0 m-0 h-full w-full sm:py-16 sm:max-w-sm rounded overflow-hidden sm:shadow-lg bg-white">
                
                <div class="space-y-10 bg-gray-50">
                    
                    <div class="">
                        <div class="space-y-5">
                            <p class="text-gray-700 text-base">
                                Todo tipo de masajes y técnicas
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-2 sm:p-10 cursor-pointer text-center md:text-left ">
            <div class="w-full ">
                <h1 class="font-bold text-5xl  text-left">
                    Title
                </h1>
                <p class="text-sm tracking-widest ">Subtitle</p>
            </div>
        </div>


    </div>

</div>