<!-- expereiencia -->
<div class="mx-36 my-32" id="exp">
  <div class="container flex justify-center mx-auto">
    <div class="my-12">
      <h1 class="text-gray-50 text-5xl text-center pb-3">Experiencia:</h1>
      <p class="xl:text-3xl text-2xl text-center text-gray-300 pb-6 sm:w-4/6 w-5/6 mx-auto">
        Trabajos realizados en conjunto con grupos de trabajo</p>
    </div>
  </div>

  <div class="">
    <div class="md:px-16 py-10 container mx-auto md:px-5">
      <!-- component -->
      <div class="relative">
        <div class="border-r-4 border-black absolute h-full top-0"></div>
        <ul class="list-none m-0 p-0">

          {% for e in exp %}
          <li class="mb-5  ">
            <div class="flex group items-center ">
              <div class="bg-gray-800 group-hover:bg-sky-700 z-10 rounded-full border-4 border-black  h-5 w-5">
                <div class="bg-black h-1 w-6 items-center  ml-4 mt-1"></div>
              </div>
              <div class="ml-4 font-medium">
                <div class="order-1 space-y-2 rounded-lg shadow-only transition-ease px-6 py-4">
                  <h3 class=" mb-0 font-bold text-white text-2xl">{{e.title}}</h3>
                  <p class="pb-0  text-sm text-gray-300">{{e.team}} ( {{e.init_date}} - Present )</p>
                  <hr />
                  <p class="text-sm font-medium leading-snug tracking-wide text-gray-300 text-opacity-100">
                    {{e.description}}</p>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}


        </ul>
      </div>
    </div>
  </div>
</div>
<!-- endexpereiencia -->