{% load static %}
<div class="mb-26 " id="about">

    <div class="bg-gradient-to-b from-teal-900 to-teal-800 bg-left-top bg-auto bg-repeat-x 
    h-72 sm:h-60 
    -mb-48 
    md:-mb-28
    
    ">
    </div>

    <div class="sm:mx-24 mx-auto grid grid-cols-1 md:gap-2 xl:gap-10 xl:grid-cols-2 ">
  

      
                <img class="w-auto h-auto bg-gray-200 mx-auto overflow-hidden " 
                src="{% static 'images/angel.svg' %}" fill="none" xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" alt="">
            
              

        <div class="p-1 sm:p-2 mb-2cursor-pointer text-center xl:text-left ">
            <div class="w-full ">
                <h1 class="font-bold text-4xl xl:text-5xl tracking-widest mb-2 ">
                    Angel Riera
                </h1>


                <div>
                    <p class="underline underline-offset-8 text-sm xl:text-xl font-medium text-gray-400 ">
                        Desarrollador web Full Stack Django React</p>
                </div>

                <p class="mt-2 md:mt-12 xl:mt-24 text-lg tracking-widest">
                    Soy estudiante autodidacta desarrollador web fullstack, aprendo a mi ritmo, y me gusta buscar
                    las
                    respuestas a los problemas
                    Soy un apasionado del desarrollo personal.
                    Creo que el virtuosismo es la mejor manera de ayudar a crear un mundo mejor, aprender y enseñar.
                    Creo en la organización y productividad como el pilar para el éxito para alcanzar cualquier
                    objetivo.
                </p>
            </div>
        </div>

    </div>

</div>